<body>

  <app-header></app-header>
  <br>
  <img src="assets/telemarkerter-working-cut.jpg" style="height: 100%; width: 100%;">
  <p-breadcrumb [model]="items"></p-breadcrumb>
  <img src='assets/LOGO_CARRE.png' alt='image' style="height: 20%; width: 20%;">

  <!-- <img src="C:\Users\duyda\OneDrive\Bureau\Papier\_Programmation\prowess\myProwess\Prowess\src\image\LOGO_CARRE.png"> -->
  <app-contact></app-contact>
  <app-form-message></app-form-message>


  <!-- <div class="my-google-map">
    <google-map></google-map>
  </div> -->

  <app-footer></app-footer>

</body>